extends layout

block content
  h1 Locality
  p #{greeting}
  p 
  | I am using Locality to translate these
  p
    strong #{file}
  p
    strong #{zero}
  p
    strong #{singular}
  p
    strong #{plural}